.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* Adjust the width as needed */
}

.card card {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card form {
    display: inline-block;
}

.card input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover {
    background-color: #0056b3;
}
